* {
    margin: 0; 
    padding: 0; 
}

body {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 15px; 
}
.body_text {
    font-size: 1.4em; 
    letter-spacing: 1px; 
    line-height: 200%; 
    font-weight: 300; 
    text-rendering: optimizeLegibility; 
}

.body_text_div {
    width: 50%; 
    padding-top: 2%; 
}

.container {
    display: flex; 
    justify-content: center; 
}

.body_text_2 {
    font-size: 1.4em; 
    letter-spacing: 1px; 
    line-height: 200%; 
    font-weight: 400; 
    text-rendering: optimizeLegibility; 
    padding-top: 2%; 
}
